body {
    font-size: 18px;
    font-family: Arial;
}
ul {
  margin:0;
  padding:0;
}
#root {
    width: 610px;
    margin:20px;
}

#root #me {
    float: left;
}
#root #other {
    float: right;
}
#root h1 {
    color: #2AA0BD;
    font-style: italic;
    margin-left: 125px;
}
h2 {
  margin-left: 7px;
}
#root .chat-container {
    background-image: -webkit-gradient(linear, 0 0, 0 486, color-stop(0.462, #4ae871), color-stop(0.773, #f1ffbc));
    background-image: -webkit-linear-gradient(#4ae871 46.2%, #f1ffbc 77.3%);
    background-image: -moz-linear-gradient(#4ae871 46.2%, #f1ffbc 77.3%);
    background-image: -o-linear-gradient(#4ae871 46.2%, #f1ffbc 77.3%);
    background-image: linear-gradient(#4ae871 46.2%, #f1ffbc 77.3%);
    color: #2AA0BD;
    margin-right: 3px;
    border-radius: 5px;
    width: 300px;
    height: 500px;
    border: 1px solid #CCCCCC;
}
input {
  width: 205px;
  height: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  border: 1px solid #CCCCCC;
}
button {
  width: 75px;
  height: 36px;
   color: #2AA0BD;
   border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 15px;
  border: 1px solid #CCCCCC;
  background: none;
}
.sent-message {
  position:relative;
  top: 278px;
}
.messages ul {
  list-style-type: none;
  font-size: 16px;
  
  margin: 40px 16px 0 16px;
}
.messages ul li span {
  display:block;
      margin-top: 6px;
      font-style:italic;
}
.messages ul li:nth-child(1) {
  border-bottom: 1px solid #333333;
}
#me .messages ul .other {
float:right;
}
#other .messages ul .me {
  float: left;
      margin-top: 4px;
}
