
<div class="fl_left">
	<img src="images/demo/about.jpg" alt="logo" />
</div>
<div class="fl_right">
	<h3>За нас</h3>
	<br class="clear" />
	<p>Мег Финанс ЕООД е специализирано счетоводно предприятие със седалище гр. Варна.</p><br>
	<p>Нашата фирма предоставя висококачествени счетоводни услуги, данъчни и осигурителни консултации, компютърни услуги. Нашата
		мисия е да помагаме развитието на успешният ви бизнес.</p><br>
	<p>Принципите, които следваме са: професионализъм, коректност, лоялност, конфиденциалност. Тези наши принципи намират приложение
		спрямо клиентите ни, спрямо целият екип на фирмата, спрямо всички наши партньори и съответно оценяваме и взаимността им.
	</p><br>
</div>
<div class="fl_left">
	<img id = "manager" src="images/demo/manager.jpg" alt="manager" />
</div>
<div class="fl_right">
	<!--<h3>Екип</h3>-->
	<br class="clear" />
	<p>Миглена Стоянова - управител на счетоводна кантора Мег Финанс е с дългогодишен опит като главен счетоводител във фирми -
		външна търговия, строителство, селско стопанство, транспорт.</p><br>

</div>
<br class="clear" />

<!-- ####################################################################################################### -->