<h1>Добавяне на новина</h1>

<label for="title" class = "news_label">Заглавие: </label><input type="text" id="title">
<label for="description" class = "news_label">Кратко описание: </label><textarea cols="75" rows="5" id= "description"></textarea>
<label for="img" class = "news_label">Картинка: </label><input type="text" id="img">
<label for="full_description" class = "news_label">Пълно описание: </label><textarea cols="75" rows="30" id = "full_description"></textarea>
<button id="addnewnews">Добави</button>

