
   <br class="clear" />
   <br class="clear" />
   <p class="sidebar">адрес: гр.Варна 9000</p>
   <p class="sidebar">ул. Генерал Цимерман 6</p>
   <p class="sidebar">моб.: 0887 448 308</p>
   <p class="sidebar">e-mail: contact@meg-finance.com</p>
   <p class="sidebar">Работно време: </p>
   <p class="sidebar">Пон-Пет 13:00 - 17:00</p>
