
<div class="bigNews">
	<div class="bigImg">
		<img class="newsImg" src="{{img}}" alt="picture">
	</div>
	<div class="caption">
		<h4 id="bigTitle">{{title}}</h4>
		<p>{{description_full}}</p>
	</div>
	<div class="created">
		<p>Публикувано на: {{createdOn}}</p>
		<button id = "backButton">Назад</button>
	</div>
	
</div>
