
    <h2>Мег Финанс ЕООД извършва консултации и дава съвети във връзка с прилагането на данъчното и осигурителното законодателство, а именно:</h2>
     <br class="clear" />
    <ul>
    <li>Данъчни консултации при извършване на дейността, касаещи прилагането на ЗДДС</li>
    <li>Данъчни консултации във връзка с корпоративното облагане (корпоративен данък, данъци при източника, данъци върху разходите)</li>
    <li>Данъчни консултации относно облагането на физически лица</li>
    <li>Данъчни консултации при сделки, свързани с международната търговия</li>
    <li>Данъчно планиране и оптимизиране</li>
    <li>Вътрешно-фирмен анализ на динамиката на финансови резултати, приходи и разходи, дълготрайни материални и нематериални активи, вземания</li>
    <li>Фирмена задлъжнялост и капиталова структура</li>
    <li>Оценка за ефективност и рентабилност</li>
    </ul>
