
    <h2>Нашите специалисти са с богат опит в сферата на компютърните технологии. Услугите, които предлагаме са:</h2>
     <br class="clear" />
    <ul>
    <li>Инсталация на системен и приложен софтуер.</li>
    <li>Интеграция на сървъри, мрежови услуги и работни станции.</li>
    <li>Наблюдение и отчет за състоянието на наличните компютърни ресурси.</li>
    <li>Превантивна защита от сривове и загуба на данни.</li>
    <li>Обучения за работа с различни системи и приложения.</li>
    <li>Изграждане на професионални и успешни уеб сайтове</li>
    </ul>
	