
    <h2>Счетоводните услуги, които Мег Финанс ЕООД предлага на своите клиенти са:</h2>
     <br class="clear" />
    <ul>
    <li>Пълно счетоводно обслужване, представляващо обективно и правилно отразяване на стопанските операции във фирмата и осигуряване на навременна информация, касаеща текущите процеси във фирмата и въпросите, които възникват от страна на клиента</li>
    <li>Подаване на декларации, свързани с изискванията на ЗДДС, ЗКПО, ЗДДФЛ, ЗСч и СС точно и своевременно</li>
    <li>Регулярно предоставяне на отчет, съдържащ информация за финансовото състояние на фирмата</li>
    <li>Съдействие и представляване на клиентите пред проверяващите органи във връзка с възникнали проверки с цел защита на интересите им в областта на нашите компетенции</li>
    <li>Спестяване на време и разходи на нашите клиенти с помощта на непрекъснато усъвършенстващите се технологии и тяхното прилагане от наша страна</li>
    </ul>
