<p>
	Професионалните финансово-счетоводни услуги и свързаните с тях консултации са от голямо значение в развитието и съществуването
	на една фирма. Обективното отразяване на финансовите процеси в една компания и последващият им анализ може да се окажат
	от голямо значение за управленските решения на мениджърите. Предлаганите от нас услуги са:</p>
<br class="clear" />
<ul>
	<li>Счетоводни услуги</li>
	<li>Консултации и финансови анализи</li>
	<li>ТРЗ услуги</li>
	<li>Компютърни услуги</li>
</ul>
          