
    <h2>ТРЗ услуги, които предлагаме на нашите клиенти, включват:</h2>
     <br class="clear" />
    <ul>
    <li>Изготвяне и поддържане на документи за персонален регистър -лични кадрови досиета, трудов договор, граждански договор, ведомост за заплати на служителите, сметки и служебни бележки за изплатени хонорари, уведомления по чл.62 от Кодекса на труда, обработка на болнични листове, отпуски,майчинство,прекратяване на трудови правоотношения)</li>
    <li>Начисляване на социални и здравни осигуровки на служителите и собствениците, изготвяне на платежни документи и подаване на данни за осигурените лица в Националния осигурителен институт/Декларации обр.1и обр./;</li>
    <li>Изготвяне и подаване в установените законови срокове справки за изплатени суми на физически лица, различни от трудови доходи по реда на ЗДДФЛ</li>
    <li>Заверка на осигурителни книжки за осигурителен стаж в НАП на самоосигуряващите се лица (СОЛ) и попълване на документи за пенсиониране</li>
    <li>Консултации във връзка с трудовото и социално-осигурителното законодателство</li>
    </ul>
