
	   <h2>Намерете ни и в <strong>Google Maps</strong>:</h2>
     <br class="clear" />
     <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="620" height="300" src="https://maps.google.com/maps?hl=en&q=Варна, ул. Генерал Цимерман 6&ie=UTF8&t=m&z=17&iwloc=B&output=embed"></iframe>
     <div><small><a href="http://embedgooglemaps.com">
									embed google map
							</a></small></div><div><small><a href="http://googlemapsgenerator.com/">Google maps generator</a></small></div>




