<ul>
	<li>
		<h2>Услуги и съвети от професионалисти с опит</h2>
		<img class="imgl" src="images/demo/60x60.jpg" alt="" />
		<p>Най-голямото богатство в една компания е нейният екип. Комбинацията от иновативни технологии, съчетани с млади, умни и
			креативни специалисти ще удовлетворят Вашите изисквания за професионализъм.</p>
	</li>
	<li>
		<h2>Фокусирате усилията си и ресурсите си за Вашият бизнес</h2>
		<img class="imgl" src="images/demo/60x60_2.jpg" alt="" />
		<p>Aкцента, който Вие ще имате ще бъде върху Вашите бизнес идеи и развитие, а нашият екип от професионалисти ще бъде на разположение
			и в готовност да помага в решението на казуси от своята компетенция.</p>
	</li>
	<li class="last">
		<h2>Вие сте по-ефективни и спестявате разходи</h2>
		<img class="imgl" src="images/demo/6x60_3.jpg" alt="" />
		<p>Вие получавате професионална услуга като в същото време спестявате от работно място и свързаните с него разходи. Всичко
			това ви се предоставя на много по-ниска цена, отколкото би Ви струвало това ако сами организирате процесите на счетоводителя.
		</p>
	</li>
</ul>