<div id="main-content">
    <h2 class="mark">Цени на услуги, предлагани от Мег Финанс ЕООД</h2>
    <br class="clear" />
    <p>Предлаганите от нас цени са прозрачни и обосновани. Ценовата ни политика е гъвкава и позволява на клиентите, които имат малък обем дейност да оптимизират разходите си за счетоводни услуги. Месечната такса се формира най-общо според вида дейност, броя
        на обработените документи, броя на служителите, ползваните допълнителни и административни услуги. В зависимост от конкретните нужди на клиента, цената може да варира и всеки отделен случай се договаря индивидуално. За повече подробности изберете
        вид услуги от менюто.</p>
    <br class="clear" />
    <!--<h3><strong>Безплатно счетоводство</strong> за 3 месеца от 24 месечен договор</h3>
    
    <p>В подкрепа на стартиращи фирми, Ние от Счетоводен Отдел разработихме и предлагаме специално гъвкаво ценообразуване. Вече предлагаме и безплатно счетоводство за 3 месеца от 24 месечен договор сключен от ново регистрирана фирма. Офертата е ограничена! Валидна е за първите 24 ново регистрирани фирми сключили 2 годишен договор.</p>-->
    <br class="clear" />
</div>

<!-- ####################################################################################################### -->