
    <h2 class="mark">Цени за услуги в сферата на компютърните технологии</h2>
     <br class="clear" />
   	
    <table>
      <tr>
        <th>Услуга</th>
        <th>Цена</th>
      </tr>
      <tr>
        <td>Инсталация на работни станции</td>
        <td>30 лв.</td>
      </tr>
      <tr>
        <td>Инсталация и настройка на операционна система</td>
        <td>30 лв.</td>
      </tr>
      <tr>
        <td>Инсталация и настройка на виртуална машина</td>
        <td>30 лв.</td>
      </tr>
      <tr>
        <td>Инсталация на офис пакет</td>
        <td>20 лв.</td>
      </tr>
      <tr>
        <td>Инсталация на приложен софтуер и игри</td>
        <td>30 лв.</td>
      </tr>
      <tr>
        <td>Инсталация на специализиран софтуер</td>
        <td>30 лв.</td>
      </tr>
      <tr>
        <td>Инсталация и проверка на периферни устройства</td>
        <td>20 лв.</td>
      </tr>
      <tr>
        <td>Отстраняване на вируси и зловреден софтуер</td>
        <td>50 лв.</td>
      </tr>
      <tr>
        <td>Проектиране, изграждане и настройване на цялостна мрежова инфраструктура</td>
        <td>по договаряне</td>
      </tr>
      <tr>
        <td>Абонаментна услуга</td>
        <td>по договаряне</td>
      </tr>
	  <tr>
        <td>Web design и изработване на фирмен сайт</td>
        <td>по договаряне</td>
      </tr>
    </table>


