
    <h2 class="mark">Цени за ТРЗ услуги</h2>
    <br class="clear" />
	<p>Тази услуга се ползва в пакет с абонаментно обслужване (вижте <a href="price_acc.html">цени</a> на счетоводни услуги) или самостоятелно. При клиенти с абонамент няма такса ангажимент и такса до 5 души персонал, това влиза в цената за абонаментното счетоводно обслужване. При повече персонал - към цената за счетоводно обслужване се добавя такса - по таблицата за ЛС/ТРЗ обслужване.</p>
	<table>
		<colgroup>
				<col width="480px"></col>
				<col width="170px"></col>
		</colgroup>
		<thead>
			<th>Брой персонал</th>
			<th>Цена / месец</th>
		</thead>
		<tbody>
			<tr>
				<td>Такса ангажимент*</td>
				<td>25 лв.</td>
			</tr>
			<tr>
				<td>До 10 души персонал</td>
				<td>по 10 лв. на човек</td>
			</tr>
			<tr>
				<td>От 11 до 50 души персонал</td>
				<td>100 лв. + 8 лв. за всеки следващ</td>
			</tr>
			<tr>
				<td>Над 50 души персонал</td>
				<td>по договаряне</td>
			</tr>
		</tbody>
	</table>
	<p>*Безплатно за клиенти с абонамент.</p>
	</div>
            
