 
    <div id="main-content">
    <h2 class="mark">Цени за счетоводни услуги</h2>
     <br class="clear" />
	
        <table>
		<colgroup>
				<col width="400px"></col>
				<col width="125px"></col>
				<col width="125px"></col>
		</colgroup>
		<thead>
		<tr>
			<th>Брой документи месечно</th>
			<th>Нерегистрирани по ЗДДС</th>
			<th>Регистрирани по ЗДДС</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>За новорегистрирани фирми и др. с минимален документооборот (до 50 документа годишно) и едно осигурено лице</td>
			<td align="center">80 - 100 лв.</td>
			<td align="center"> - </td>
		</tr>
		<tr>
			<td>За фирми с оборот до 50 документа (месечно) и до 5 осигурени лица</td>
			<td align="center">120 лв.</td>
			<td align="center">250 лв.</td>
		</tr>
		<tr>
			<td>От 50 до 100 бр. документи </td>
			<td align="center">120 лв.</td>
			<td align="center">250 лв.</td>
		</tr>
		<tr>
			<td>От 101 до 200 бр. документи</td>
			<td align="center">100 - 200 лв.</td>
			<td align="center">250 - 350 лв.</td>
		</tr>
		<tr>
			<td>Над 201 бр. документи</td>
			<td align="center">по договаряне</td>
			<td align="center">по договаряне</td>
		</tr>
		</tbody>
		<tfoot>
			<!--<tr>
			<td>За новорегистрирана фирма, сключила 24 месечен договор</td>
			<td colspan="2" align="center">Безплатно за срок от 3 месеца</td>
		</tr>-->
		<tr>
			<td>За ЕТ на патент без работници</td>
			<td colspan="2" align="center">50 лв.</td>
		</tr>
		<tr>
			<td>За ЕТ на патент с до 5 работника</td>
			<td colspan="2" align="center">80 - 90 лв.</td>
		</tr>
		<tr>
			<td>За ДЗЗД без работници</td>
			<td colspan="2" align="center">50 лв.</td>
		</tr>
		<tr>
			<td>За ДЗЗД с до 5 работника</td>
			<td colspan="2" align="center">80 - 100 лв.</td>
		</tr>
		<tr>
			<td>За земеделски производители (за цялата година)</td>
			<td colspan="2" align="center">240 лв.</td>
		</tr>
		</tfoot>
    </table>  
	<p> * Броят на документите се измерва с броя на счетоводните записи, които изисква счетоводното отразяване на съответната стопанска операция.</p>
	<p>* Цената за пълното счетоводно обслужване винаги може да бъде обсъдена и коригирана в зависимост от особеностите на клиента.</p>	
    </div>