
    <h2 class="mark">Цени за консултантски услуги</h2>
     <br class="clear" />
    <h2>Консултации по счетоводни, данъчни и трудови и осигурителни въпроси – 50 лв./час;</h2>
	<br class="clear" />
	
	<p>*(Kонсултациите са безплатни за клиенти, които имат сключен договор за абонаментно счетоводно обслужване.)</p>
	</div>
            
