<ul class="sidebar">
	<li class="sidebar"><a href="#/price_acc">Счетоводни услуги</a></li>
	<li class="sidebar"><a href="#/price_consult">Консултации</a></li>
	<li class="sidebar"><a href="#/price_trz">ТРЗ услуги</a></li>
	<li class="sidebar"><a href="#/price_comp">Компютърни услуги</a></li>
</ul>