p {
    display: inline
    }
td, th {
    padding: 5px;
}
tbody td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
    } 
#main {
    border: 1px solid #ddd;
    
    border-radius: 15px;
    }
 thead td {
     border-bottom: 1px solid #ddd;
     background-color: #e5e5e5;
 }
 tfoot td {
     background-color: #e5e5e5;
 }

