#wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

    #wrapper ul {
        list-style-type: none;
        width: 149px;
        height: 208px;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(129, 104, 255) 1%, rgb(180, 165, 255) 41%, rgb(230, 225, 255) 81%);
        background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(129, 104, 255) 1%, rgb(180, 165, 255) 41%, rgb(230, 225, 255) 81%);
        background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(129, 104, 255) 1%, rgb(180, 165, 255) 41%, rgb(230, 225, 255) 81%);
        background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(129, 104, 255) 1%, rgb(180, 165, 255) 41%, rgb(230, 225, 255) 81%);
        background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(129, 104, 255) 1%, rgb(180, 165, 255) 41%, rgb(230, 225, 255) 81%);
        border-top-left-radius: 10px;
        float: left;
    }

        #wrapper ul li {
            padding-top: 7px;
            padding-left: 15px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
        }

            #wrapper ul li.selected {
                background: #6C4EFF;
            }

            #wrapper ul li:first-letter {
                text-decoration: underline;
            }

    #wrapper a {
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 90px;
    }
