<h1>Search for materials</h1>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" id = "findItem" class="form-control" placeholder="Search by title...">
      <span class="input-group-btn">
        <button class="btn btn-default" id = "go" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->