<form class="form-signin">
        <h2 class="form-signin-heading">Add cookie</h2>
        <label for="title" class="sr-only">Title</label>
        <input type="text" id="title" class="form-control" placeholder="Title" required autofocus>
        <label for="category" class="sr-only">Category</label>
        <input type="text" id="category" class="form-control" placeholder="Category" required>
        <label for="image" class="sr-only">Image</label>
        <input type="text" id="image" class="form-control" placeholder="Image link" required>
        <!--<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>-->
       
        <button class="btn btn-lg btn-primary btn-block" id= "btn-add" type="submit">Add cookie</button>
      </form>